@model Switchr.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Name</h4>
    <ul>
        <li>Genre: @Model.GameType.Name</li>
        @if (Model.ReleaseDate != null)
        {
            <li>Release Date: @Model.ReleaseDate.Value.ToShortDateString()</li>
        }
        <li>Number in Stock: @Model.NumberInStock</li>
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
