@model Switchr.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Name</h4>
    <ul>
        <li>@Model.MembershipType.Name</li>
        @if (Model.Birthdate != null)
        {
            <li>@Model.Birthdate.Value.ToShortDateString()</li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
